<div class="mailboxView">
	<h2>Mailbox view</h2>
	<div class="row">
		<div class="col-md-2">
			<div class="form-group">
				<button class="btn btn-default btn-block" ui-sref="desktop.mailbox.compose">Compose</button>
			</div>
			<ul class="nav nav-pills nav-stacked">
				<li ng-class='{"active":state.current.name=="desktop.mailbox.inbox"}'>
					<a ui-sref="desktop.mailbox.inbox">Inbox</a>
				</li>
				<li ng-class='{"active":state.current.name=="desktop.mailbox.sent"}'>
					<a ui-sref="desktop.mailbox.sent">Sent</a>
				</li>
				<li ng-class='{"active":state.current.name=="desktop.mailbox.drafts"}'>
					<a ui-sref="desktop.mailbox.drafts">Drafts</a>
				</li>
			</ul>
		</div>
		<div class="col-md-10">
			<div ui-view></div>
		</div>
	</div>
</div>
