<div class="row signin-view">

	<div class="col-md-4 col-md-offset-4">
		<form name="form" ng-submit="submitSigninForm(signinForm)" novalidate>
			<div class="form-group">
				<label>Username</label>
				<input ng-model="signinForm.username" class="form-control" type="text">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input ng-model="signinForm.password" class="form-control" type="password">
			</div>
			
			<button class="btn btn-primary" type="submit" >Sign in</button>
		</form>
	</div>

</div>
